#banner: .row
  .span7

    %p
      OneStop+ is a web-based application which is designed
      to allow users to charter taxis from their web browsers and soon
      from their android phones!
    %a#pricing-signup
      Get in Touch

