.comments.span4
  %h3 What Others are Saying
  .row
    .saying.span4
      %p
        "Persons who take public transportation frequently will find great use of this"
      %p
        Student- Eric Charles.
  .row
    .saying.span4
      %p
        "TransApp is a great way to inform not only tourist but locals about our current transport system. 
          The system is very easy to use and very helpful"
      %p
        Keith Ford