-extends "public_base.haml"

-set title="Contact Us"


-block js
  {{ super() }}
  %script(src="http://maps.google.com/maps/api/js?sensor=false")

-block content
  #contact.container: .row

    .span8
      %h2.blue
        %i.icon-fire
        Where are we?

      %p.center
        Our offices are located at the
        %a(href="https://maps.google.com/maps?q=18.007450,-76.7477990") University of the West Indies

      #map-canvas

    .span4
      %h2.green
        %i.icon-fire
        Send us a note

      %p.center
        You can also e-mail us at
        %a(href="mailto:#{constants.SUPPORT_EMAIL}")
          #{constants.SUPPORT_EMAIL}.

      %form.send-message(action="#{uri_for('contact')}", method="POST")

        .control-group
          %label.control-label(for="name") Name:
          .controls: %input.span4#name(type="text", name="name")

        .control-group
          %label.control-label(for="email") E-mail address:
          .controls: %input.span4#email(type="text", name="email")

        .control-group
          %label.control-label(for="topic") Topic:
          .controls: %input.span4#topic(type="text", name="topic")

        .control-group
          %label.control-label(for="message") Message:
          .controls: %textarea.span4#message(name="message")

        .form-actions
          %button(type="submit")
            %i.icon-share-alt
            Send your message
