-extends "public_base.haml"

-set title = "Recover your password"

-block content
  #forgot-password.container
    .row
      .span12
        %h4 Forgot your password?

      .features.clearfix
        %div
          .feature
            %i.icon-tint
              We can help with that.
          .feature
            %i.icon-tint
              Just enter the e-mail address you used to sign up
              and we'll send you instructions with what to do next.

      .recover-password-box.span5.offset1
        -if request.method == 'POST' and request.POST.get('email', '').strip()
          %div
            %p.help-text
              OK! We will try our best to contact you at
              %strong {{ request.POST.get('email') }}
              with instructons on how to recover your password.
            %p.help-text
              If you don't see the e-mail from us in a few minutes, you might
              want to check your spam folder which may have caught it
              accidentally.
        -else
          -include "components/forgot_password_form.haml"