body { 
	background-image: url('media/images/sectionbackgrd.jpg');
}


#map-outer {  
	height: 440px; 
	padding: 20px; 
	border: 2px solid #CCC; 
	margin-bottom: 20px; 
	background-color:#FFF 
}

#map-canvas{ 
	height: 400px 
}

@media all and (max-width: 991px) {
	#map-outer  { height: 650px }
}

#send{
	font-family: 'Merriweather', serif;
}
