html, body{
	height: 100%;
  	padding: 0px
  	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.plus{
	color: #3F89D8;
	display: inline;
}

small{
	border-left: 1px solid #3F89D8;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	margin-left: 20px;
	max-width: 300px;
	padding-left: 20px;
	vertical-align: middle;
	text-transform: uppercase;
}

.additional{
	color: #DBDBDB;
	font-size: 11px;
	padding-top: 15px;
	text-transform: uppercase;
}

.logs{
	list-style-type: none;
}

.login{
	display: inline;
	padding-right: 15px;
}

.signup{
	border-left: solid 1px #3F89D8;
	padding-left: 15px;
}

.main-head{
	color: white;
}

.header{
	margin-top: 50px;
	background-color: black;
}

.label {
	display: inline-block;
	margin-bottom: 20px;
	padding: 0 10px;
	background-color: #000;
	font-size: 10px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	line-height: 23px;
	letter-spacing: 1px;
}

.label2{
	background-color: #fff;
	color: #000;
}

.inverted{
	background-color: #fff;
  	color: #000;
}

h3{
	font-size: 37px;
}

p{
	font-family: 'Merriweather', serif;
	line-height: 27px;
	font-size: 16px;
}

.title-box {
	display: table;
	width: 100%;
	height: 285px;
	position: absolute;
	z-index: 4;
}

.carousel-indicators > li {
	background-color: #3F89D8;
	border: #3F89D8;
}
.carousel-indicators > .only .active {
	background-color: #CCCCCC;
	border: #CCCCCC;
}

.clr{
	background-color: black;
}

.bckgrd{
	background-image: url('/media/images/backgrounds/sectionbackgrd.jpg');
}

.bounce {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.bounce:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #3F89D8;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.bounce:hover, .bounce:focus, .bounce:active {
  color: white;
}

.bounce:hover:before, .bounce:focus:before, .bounce:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.thumbnail{
	border: 1px solid #3F89D8;
}

.largeicon{
	font-size: 20px;
	padding-left: 35px;
}

.dec{
	text-decoration: none;
}

.img{
	position: relative;
	top: -312px;
}

/* CSS used here will be applied after bootstrap.css */
.top-border {
	border-top: solid 1px #CCCCCC;
	width: 100%;
	padding: 20px 0px;
}
.padding-top-ten-px {
	padding-top: 10px;
}

.marg{
	margin-top: -90px;
}

.panel-default {
	opacity: 0.9;
	margin-top:30px;
}

.form-group.last {
	margin-bottom:0px;
}

/************************Options**************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board{
    width: 75%;
    margin: 60px auto;
    height: 600px;
    background: #fff;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: url('/media/images/backgrounds/sectionbackgrd.jpg');
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > .arrowless.active > a, .nav-tabs > .arrowless.active > a:hover, .nav-tabs > .arrowless.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: #3F89D8;
    border: 2px solid #999;
}

.arrowless.active span.round-tabs.one{
    background: rgba(0, 0, 0, 0.62) !important;
    border: 4px solid #3F89D8;
    color: #FFFFFF;
}

span.round-tabs.two{
    color: #3F89D8;
    border: 2px solid #999;
}

.arrowless.active span.round-tabs.two{
    background: rgba(0, 0, 0, 0.62) !important;
    border: 4px solid #3F89D8;
    color: #FFFFFF;
}

span.round-tabs.three{
    color: #3F89D8;
    border: 2px solid #999;
}

.arrowless.active span.round-tabs.three{
    background: rgba(0, 0, 0, 0.62) !important;
    border: 4px solid #3F89D8;
    color: #FFFFFF;
}

span.round-tabs.four{
    color: #3F89D8;
    border: 2px solid #999;
}

.arrowless.active span.round-tabs.four{
    background: rgba(0, 0, 0, 0.62) !important;
    border: 4px solid #3F89D8;
    color: #FFFFFF;
}

span.round-tabs.five{
    color: #3F89D8;
    border: 2px solid #999;
}

.arrowless.active span.round-tabs.five{
   background: rgba(0, 0, 0, 0.62) !important;
    border: 4px solid #3F89D8;
    color: #FFFFFF;
}

.nav-tabs > .arrowless.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > .arrowless {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.arrowless:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;

}
.arrowless.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;

}
.nav-tabs > .arrowless a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > .arrowless a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
    position: relative;
    padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 0px;
}

.btn.green{
    background-color:#3F89D8;
    border: 2px solid rgba(7, 20, 55, 0.38);

    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){

    .board {
        width: 90%;
        height:auto !important;
    }

    span.round-tabs {
        font-size:16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .tab-content .head{
        font-size:20px;
    }

    .nav-tabs > .arrowless a {
        width: 50px;
        height: 50px;
        line-height:50px;
    }

    .arrowless.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding:12px 20px;
    }
}


@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
	.large-icons{
  		font-size: 20px;
  	}
}

@media screen (min-device-width: 800px) and (max-device-width: 1280px) {
  	.in-board{
  		margin: auto;
  	}

  	.large-icons{
  		font-size: 24px;
  	}
  }

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	.in-board{
		margin: -120px;
		margin-left: 14px;
	}

	.large-icons{
    	font-size: 34px;
	}
}

/*.uniform{
	height: 800px;
	width: 567px;
}*/
.uniform{
	height: 350px;
}
