-extends "emails/base.html"

-set key = current_profile.activation_key

-block title
  Forgot your password?

-block content
  %div(style="padding: 1.5em 5.5em;")
    Hi {{ current_profile.name }},
    %br
    %br
    You're receiving this message because someone (we hope it was you) made a
    request to recover your password.

  %div(style="font-size: 15px; text-align: center; line-height: 4em; background-color: #eeeeee; border-top: 1px dotted #dddddd; border-bottom: 1px dotted #dddddd;")
    To reset your password,
    %a(href="{{ constants.PUBLIC_HOST }}{{ uri_for('forgot-password', k=key) }}", \
      style="font-weight: bold; color: #1c5e9b;")
      click here

  -include "emails/components/feedback.haml"

