<html>
  <head>
    <title>Plus+ Drivers</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/emn178/jquery-lazyload-any/master/build/jquery.lazyload-any.min.js">
    <link rel="stylesheet" type="text/css" href="/media/test.css">
  </head>

  <body>
    <section id = "section1" data-speed = "6" data-type = "background">
        <!-- header -->
        <header class="header">
          <div class = "container">
            <div class="page-header">
              <h1 class = "main-head">OneStopPlus<div class = "plus"><b>+</b></div> <small>Ultimate travel experience</small></h1>
            </div>
          </div>
        </header>
        <!-- header -->

        <!-- Navbar -->
           <div class = "navbar navbar-default navbar-fixed-top">
              <div class = "container">
                <div class = "navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="/" class="navbar-brand shimmer">OneStopPlus<div class = "plus"><b>+</b></div></a>
                </div>

                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                  </ul>
                </div>
              </div>
           </div>
        <!-- Navabar -->


    <section class="bckgrd">
      <br>
      <h1 class = "text-center">About<div class = "plus"><b>+</b></div> Us</h1>

      <!-- Driver Cards -->

      <div class="container">
        <div class="row">
          <h2>In our current globalized society, where persons are from all walks of life and who reside in all ends of the world communicate, collaborate and otherwise interact, a crucial need to commute has become a major hindrance to many. Some persons are fortunate enough to own and otherwise have access to transportation but the remainder of the population has been forced to rely on public transportation or chartering services in order to move goods and people. <br><br>
          OneStop+ seeks to supply the needs of these dependents by offering reliable, safe and very cost effective solution travelling service opening up more possibilities for riders and more business for drivers.<br></h2>

        </div>
        </div>

      <!-- Driver Card -->
    </section>

    <section  class = "clr" data-speed = "6" data-type = "background">
          <div class ="container">
            <br><br>
            <div class = "container text-center">
              <a class="login" href="/logout/">Logout</a>
              <br><br>
            </div>
          </div>
        </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>