-extends "base.haml"

-block body
  -if current_profile
    -include "components/navbar_private.haml"
  -else
    -include "components/navbar_public.haml"

  .content
    -block content

		-include "components/footer.haml"