%footer#public-footer
 .container
  .row-fluid
    .copyright.span3
      %p &copy; 2013 #{constants.PRODUCT_NAME} Ltd.
      
    %ul.span4
      %li
        %a(href="#{constants.PUBLIC_HOST}")
          Overview
      %li
        %a(href="/signup/")
          Sign Up

    %ul.span4
      %li
        %a(href="/terms/")
          Terms of Service
      %li
        %a(href="/contact/")
          Contact Us

