%form#forgot-password(action="{{ uri_for('forgot-password') }}",method="POST")

  -if profile
    %p.help-text
      OK! Choose a new password and then we'll
      send you on your way.

    %input(type="hidden", name="k", value="{{ request.get('k') or '' }}")
    %input#email(type="text", disabled="disabled", value="{{ profile.email }}")
    %input#password(type="password", name="password", required="required", \
      placeholder="Choose a new password")

    .button-container
      %button.btn.btn-primary.bold(type="submit", \
        data-spinner="Logging into your account...")
        %i.icon-user
        &nbsp;
        Save my new password

  -else
    %input#email(type="email", name="email", required="required", \
      placeholder="E-mail address")

    .footer-link-container
      Nevermind.
      %a(href="{{ uri_for('login') }}")
        I remember it now...

    .button-container
      %button.btn.btn-primary.bold(type="submit", \
        data-spinner="Sending you some instructions...")
        %i.icon-envelope
        &nbsp;
        Help me recover my password!
