-extends "corporate/private_base.haml"

-set title = "Orders"

-import "form_macros.haml" as form_macros

-block content:
  .container
    %p.lead
      %a(href="#{uri_for('order.list')}") Orders
      &raquo;
      -if 'create' in request.url
        Add Order

    %form.form-horizontal(action=".", method="POST")
      #{form_macros.form_fields(form)}
      #{form_macros.submit_button()}
